@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

.topNav {
  width: 100%;
  padding: 12px 40px;
  height: 55px;
  box-shadow: 5px 5px 5px #0005;
  background-color: #f59e0b;
}

.ant-input-wrapper .ant-input-group-addon {
  background-color: #1890ff;
}

button.ant-btn.ant-btn-primary.ant-input-search-button:hover {
  background-color: #1677ff;
  color: white;
}
.input {
  float: right;
  max-width: 400px;
}
.topNav-title {
  font-family: 'Nunito', sans-serif;
  font-size: clamp(23px, 27px, 31px);
  color: black;
  white-space: nowrap;
}

@media only screen and (max-width: 1180px) {
  .input {
    max-width: 300px;
  }
}

@media only screen and (max-width: 819px) {
  .input {
    max-width: 270px;
  }
}

@media only screen and (max-width: 693px) {
  .input {
    max-width: 220px;
  }
}

@media only screen and (max-width: 552px) {
  .topNav {
    padding: 12px 10px;
  }
  .topNav-title {
    font-size: 23px;
    line-height: 30px;
  }
}
@media only screen and (max-width: 421px) {
  .input {
    max-width: 180px;
  }
}
@media only screen and (max-width: 354px) {
  .input {
    max-width: 120px;
  }
}
