.background {
  background: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 68%;
}

.title {
  color: black;
  font-size: clamp(21px, 25px, 29px);
  font-weight: 500;
  max-width: 400px;
}
.information_text {
  white-space: nowrap;
  font-weight: 500;
}

.card {
  margin: 70px auto;
  background: #d3d3d3;
  border: rgb(255, 166, 1);
  width: 60vw;
  position: relative;
}
.cardHeader {
  background-color: #ebebeb;
  box-shadow: 5px 5px #cccccc;
}

.imageContainer {
  max-width: 250px; /*using "max" makes the image so small it eventually dissapears, but information wont overflow from card  */
  min-width: 200px;
  margin: 10px;
}

.information {
  font-size: clamp(12px, 16px, 20px);
}
.healthLabels {
  border-top: 1px solid black;
  text-align: center;
  max-width: 300px;
  border-bottom: 1px solid black;
  /* Non standard for webkit */
  word-wrap: break-word;
}
.healthLabels li::after {
  content: ', ';
}
.healthLabels li:last-child::after {
  content: '';
}
.ul li {
  position: absolute;
  right: 0;
}
.ingredients {
  margin-bottom: 40px;
  font-size: clamp(11px, 15px, 19px);
}
.ingredients h3 {
  border-bottom: 2px solid black;
}

.nutrition,
.not_checked_item {
  font-size: clamp(12px, 16px, 20px);
}
.checkedItem {
  text-decoration: line-through;
  font-size: clamp(12px, 16px, 20px);
}
.button {
  border: 0;
  padding: 8px;
  background-color: rgb(59, 130, 246);
  border-radius: 7px;
  transition: 0.3s;
}
.button:hover {
  background-color: rgb(40, 108, 218);
  transition: 0.3s;
}

.search {
  width: 28.2%;
  margin-left: 68.2vw;
  padding-bottom: 60px;
  position: relative;
  top: 37.5px;

  min-height: 1px;
  height: 20px;
}

.input {
  width: 5%;
  padding: 7px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 6px;
  text-align: center;
  text-decoration: none;
}
@media only screen and (max-width: 1152px) {
  .information_text {
    margin: 7px;
  }
  .information {
    display: block;
  }
  .imageContainer img {
    position: relative;
    top: 23px;
    min-width: 100px;
  }
  .information_text {
    margin-left: 10px;
  }
  .title {
    margin-left: 17px;
  }
}
@media only screen and (min-width: 1153px) {
  .information p {
    text-align: center;
  }
  .information {
    display: flex;
  }
  .title {
    text-align: center;
  }
}

@media only screen and (max-width: 832px) {
  .imageContainer {
    margin: auto;
  }
  .imageContainer img {
    position: relative;
    height: 180px;
    width: 180px;
    border-radius: 90px;
    border: 4px solid white;
    top: -40px;
    margin: auto;
  }
  .information {
    margin-left: 8px;
  }
}
@media only screen and (min-width: 832px) {
  .cardHeader {
    display: flex;
  }
  .holder {
    margin: 20px auto;
  }
  .content {
    margin-top: 40px;
    gap: 100px;
    display: flex;
  }
  .information_text {
    margin: 20px;
  }

  .ingredients,
  .nutrition {
    width: 43%;
  }
}
