@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.site_layout_content {
  height: 100vh;
  background: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: 68%;
}

.column1 h1 {
  font-family: 'Montserrat', sans-serif;
  /* position: absolute;

  bottom: 40vh;
  color: orange; */
}

.input_search button {
  background-color: #1890ff;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 600px;
}

.column2 {
  width: 450px;
  margin-top: 7%;
}
.sub_title,
.input_search {
  font-size: 30px;
  margin-left: 18%;
  color: rgb(255, 255, 255);
}

.carousel button {
  visibility: hidden;
}
.input_search {
  width: 26.8vw;
}
@media only screen and (min-width: 1016px) {
  .column2 {
    margin-right: 100px;
    margin-top: 13%;
  }
  .column1 h1 {
    margin: 8% 0 0 18%;
    margin-bottom: 40px;
  }
  .column1 h3,
  h1 {
    white-space: nowrap;
  }
}
@media only screen and (max-width: 1016px) {
  .column1 > * {
    margin: 20px auto;
    white-space: nowrap;
  }
  .column2 {
    top: 50%;
    transform: translateY(-50%);
  }
  .column2,
  .column1 {
    min-height: 100px;
  }
  .column1 h1,
  .sub_title {
    text-align: center;
  }
  .box {
    flex-direction: column;
  }

  .column2 {
    position: relative;
    width: 400px;
    margin: 0;

    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .input_search {
    width: 408px;
  }
}
@media only screen and (max-width: 560px) {
  .site-layout-content {
    overflow-x: hidden;
  }
  .column1 h1 {
    font-size: 40px;
  }

  .column1 h3 {
    font-size: 25px;
  }
  .column2 {
    width: 360px;
  }
}
@media only screen and (max-width: 463px) {
  .input_search {
    width: 360px;
  }
  .column1 {
  }

  .column1 h1 {
  }

  .banner {
    padding-top: 67px;
  }
  .column2 {
    position: relative;
  }
}
@media only screen and (max-width: 383px) {
  .column1 {
  }
  .input_search {
    width: 300px;
  }
  .column1 h1 {
    font-size: 36px;
  }
  .column1 h3 {
    font-size: 20px;
  }
  .column2 {
    width: 300px;
    left: 1px;

    position: relative;
  }
}
@media only screen and (min-height: 850px) {
  .column1 {
    top: 50px;
  }
  .column2 {
  }
}
