@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
.body {
  margin: 0px;
}

.background {
  background: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: 68%;
}
.ant-card.ant-card-bordered {
  margin: 60px auto;
  margin-bottom: 50px;
  border-radius: 20px;
  transition: 0.5s;
}
.ant-card-meta {
  height: 20vh;
}
.ant-card.ant-card-bordered:hover {
  /* box-shadow: 5px 5px 5px 5px rgba(255, 0, 0, 0.333); */
  transition: 0.3s;
  transform: translate(-5px, -5px);
}

button.ant-btn.ant-btn-primary.ant-input-search-button:hover {
  color: black;
}
.ant-card-cover {
  overflow: hidden;
}
.ant-card-cover img {
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.ant-card-cover:hover img {
  transform: scale(1.1);
}
.time {
  font-family: 'Montserrat', sans-serif;
}
.ant-card-meta-title {
  white-space: none;
}
